// RESETT

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 0; }
  
  ol, ul {
    list-style: none; }
  
  
  blockquote, q {
    quotes: none;
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }

// RESETT

// colorr basee
$primary-color1: hsl(215, 51%, 70%);
$primary-color2: hsl(178, 100%, 50%);
$main-BG: hsl(217, 54%, 11%);
$card-BG: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);


// FONT 
$font: 'Outfit', sans-serif;

@mixin weight ($weight: 300) {
    font-weight: $weight;
}
// BASEE

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: $main-BG;
    display: grid;
    place-items: center;
    font-size: 18px;
    font-family: $font;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

// BASE

//STYLE STYLE STYLE

#container {
    box-sizing: border-box;
    width:24%;
    height: 66%;
    background-color: $card-BG;
    display: flex;
    padding: 25px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    border-radius: 10px;
    box-shadow: 0 10px 0px 8px rgba( 0, 0, 0, 0.1), 0 10px 0px 20px rgba( 0, 0, 0, 0.05);

    .box-image-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 58%;
        position: relative;
        cursor: pointer;
        .box-image {
            background-image: url(/images/image-equilibrium.jpg);
            background-size: cover;
            background-position: center center;
            width: 100%;
            border-radius: 5px;
            height: 100%;
        }

        .box-image-hover {
            position: absolute;
            width: 100%;
            opacity: 0%;
            height: 100%;
            display: flex;
            align-items: center;
            transition: 0.5s;
            justify-content: center;
        }

        .box-image-hover:hover {
            position: absolute;
            background-color: rgba(0, 255, 255, 0.507);
            opacity: 100%;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
        
    .card-info {
        display: flex;
        flex-direction: column;
        height: 40%;
        width: 100%;
        justify-content: space-between;
       

        .card-heading {
            font-weight: 600;
            color: $White;
            cursor: pointer;
            font-size: 1.2em;
        }

        .card-heading:hover {
                color: $primary-color2;
        }

        .card-paragraph {
            color: $primary-color1;
            @include weight($weight: 300)
        }

        .price-time {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .price {
                display:flex;
                align-items: center;
                gap: 0.2em;

                .pricing {
                    color: $primary-color2;
                    font-weight: 400;
                    font-size: 0.9em;
                }
            }

            .clock {
                display:flex;
                align-items: center;
                gap: 0.2em;

                .days {
                    font-weight: 400;
                    color: $primary-color1;
                    font-size: 0.9em;
                }
            }
        }

        .white-line {
            width: 100%;
            height: 0.5%;
            opacity: 50%;
            background-color: $primary-color1;
        }
    
        .profil-card {
            display: flex;
            align-items: center;
            gap: 0.5em;
            .display-picture {
                width: 30px;
                height: 30px;
                border: 1px solid white;
                border-radius: 50%;
            }
            .profile-name {
                color: $primary-color1;
                font-weight: 300;
                font-size: 0.8em;

                span {
                    color: $White;
                    font-weight: 400;
                    cursor: pointer;
                }

                span:hover {
                    color: $primary-color2;
                }
            }  
        }
    }
}

@media (max-width:1200px) {
    #container {
        width:30%;
        height: 60%;
    }
}

@media (max-width:960px) {
    #container {
        width:35%;
        height: 60%;
    }
}

@media (max-width:760px) {
    #container {
        width:40%;
        height: 60%;
    }
}

@media (max-width:580px) {
    #container {
        width:80%;
        height: 60%;
    }

    .attribution {

        .attr {
            font-size: 0.6em;
        }

        a {
            font-size: 0.8em;
            
        }
    }
}

.attribution {
    position: absolute;
    bottom: 10px;
    margin-bottom: 2em;
    width: 75%;
    text-align: center;

    .attr{
        color: $card-BG;
        text-shadow: 0.1px 0.1px 1px $card-BG;
    }
    

    a {
        font-family: $font;
        @include weight($weight: 300);
        text-decoration: dashed;
        color: $primary-color1;
    }

    a:hover {
        border-bottom: 1px solid $primary-color1;
    }
}